/*********************************************

CUSTOM FONT

*********************************************/
@font-face {
  font-family: 'Mona Sans';
  src:
    url('soul/mona-sans.woff2') format('woff2 supports variations'),
    url('soul/mona-sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

body {
  font-family: 'Mona Sans' !important;
}

/*********************************************

CUSTOM COLORS

*********************************************/
.the-color{
	color: #86efac !important;
}
.light-color{
	color: #ffffff !important;
}
.dark-color{
	color: #99a39d !important;
}
.background-color{
	color: #616161 !important;
}
::selection {
    background: magenta;
}

/*********************************************

TEXT

*********************************************/
.finetitle{
	font-weight: 100 !important;
}
.is-super{
	font-size: 120px;
}
.fuori img{
	padding: 20px;
	position: absolute;
	z-index: 99;
	width: 300px;
}